@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova|Rokkitt&display=swap');

body {
  margin: 0px;
  /* font-family: 'Ibarra Real Nova', serif; */
  font-family: 'Rokkitt', serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f1ece2;
}

h1 {
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 100px;
  width: 50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

h2, h3 {
  line-height: 0.9;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#about, #essay {
  font-size: 30px;
  text-decoration: none;
  color: #8c8c8c;
  width: 95%;
  text-align: right;
  position: fixed;
  margin-right: 5%;
  transition: 0.5s;
}

#about:hover {
  color: black
}

#essay:hover {
  color: black
}
